.header {
    top: 0;
    min-height: 50px;
    margin-bottom: 0px;
    width: 100%;
}
.navbar-brand {
  font-family: 'Fredericka the Great', cursive;
}

body {
  background: url('./Images/IMG_0435.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#img-headshot {
    max-width: 70%;
    align-items: left;
    float: left;
    margin: 10px;
}

#bio {
  font-size: 15px;
  margin-top: 20px;
}

.row {
  background-color: #222222;
  opacity: 75%;
  margin: 0;
  color: #f5f5f5;
}

.well {
  background-color: #222222;
  opacity: 75%;
}

#email {
  color: #f5f5f5;
}

h3 {
Color: #f5f5f5;
}

.link {
  font-size: 30px;
  
}

#skills{
  height: 6%;
  width: 6%;
  padding-right: 2%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}


@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}

@media only screen and (max-width: 1024px) {
.title {
display: none;
  }
}
