<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <Title>Student Bio</Title>
      </head>
      <!-- Start Nav-->
      
      <body>
        <header class="header">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html">Sam Horne</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="potfolio.html">Portfolio</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

<div class="fixfoot"
    style="bottom: 0; width: 100%; position: fixed; height: 40px; background-color: #222222; color: #9d9d9d; opacity: 75%; margin: auto; padding: 10px">
    <footer class="container-fluid text-center">
      <p>2020 Sam Horne</p>
    </footer>
  </div>

</body>

</html>
